<html>
<style>
canvas {
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 192px;
    width: 512px;
    border: white solid 1px;
}
</style>
<script src='rot.min.js'></script>
<script src='downmtn.js'></script>
<body onload="Game.init()" style="background: black; text-align: center">
</body>
</html>